/* @import './base.css'; */
.action-btn {
    margin: 20px 20px 20px 0px;
    float: right;
}

.padding-x-10p {
    padding-left: 10px;
    padding-right: 10px;
}

/* .allow-overflow {
    max-height: 535px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7.5px;
}

::-webkit-scrollbar-thumb {
    background: #eb9928;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ca8423;
} */